body{
    font-family: Arial, sans-serif;
    color: #f8ad0b;
    background-color: #0d11f1;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
.flex-container{
    flex-direction: column;
    gap: 10px;
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    background: #0346fd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 6%;
}
h1{ /*A sportok / egyebek címéhez*/
    text-align: center;
}
h2 { /*Alcímek*/
    text-align: left;
}
h3{/*Szabályok, leírások*/
    text-align: left;
    padding-left: 1cm;
    size: 20px;
}
h4{/*Megjegyzések*/
    text-align: left;
    padding-left: 2cm;
    size: 10px;
}
label {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    line-height: 1.5;
}
input, select, button {
    color: #000000;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #049afd;
    border-radius: 5px;
    width: 100%;
}
button {
    margin-left: 40%;
    width: 20%;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #218838;
}
