<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static\favicon.ico">
    <title>Erőnlét</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
    <body>
        <!--EZ MÉG NEM JÓ-->
        <h1>Itt még nem működik milyen sportra nevezel</h1><!--EZ MÉG NEM JÓ-->
        <h1>Erőnlét</h1>
        <h2>Szabályok: </h2>
        <h3>- Különböző erőnléti feladatok darabszámra/időre</h3>
    
    <div class="container">
        <h1>Sportok</h1>
        <label for="fekvotamasz">
            Fekvőtámasz
            <input type="checkbox" name="fekvotamasz" id="fekvotamasz">
        </label>
        <label for="huzodzkodas">
            Húzódzkodás
            <input type="checkbox" name="huzodzkodas" id="huzodzkodas">
        </label>
        <br>
        <label for="plank">
            Plank
            <input type="checkbox" name="plank" id="plank">
        </label>
        <label for="fekvenyomas">
            Fekvenyomás
            <input type="checkbox" name="fekvenyomas" id="fekvenyomas">
        </label>
        
    </div>
    <button onclick="submitData()">Regisztrálás</button>

    <!-- Move the script to the end of the body -->
     <script type="text/javascript" src="static\js\sendData.js"></script>
    <script>

        let sports = "";
        if (document.getElementById("fekvotamasz").checked) {
            sports += " fekvőtámasz";
        }
        if (document.getElementById("huzodzkodas").checked) {
            sports += " húzódzkodás";
        }
        if (document.getElementById("plank").checked) {
            sports += " plank";
        }
        if (document.getElementById("fekvenyomas").checked) {
            sports += " fekvenyomas";
        }
        function submitData(){
            window.alert("Sikeres Regisztráció")
            sendData("Erőnlét", {}, sports);
        }
        
    </script>
</body>
