<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labdarúgás</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
    <body>
        <h1>Labdarúgás</h1>
        <h2>Szabályok: </h2>
        <h3>- Csapatonként egy fő regisztráljon!</h3>
        <h3>- A nevezési mezőbe magadat nem kell megadnod!</h3>
        <h3>- Egyenes kieséses formátum.</h3>
        <h3>- 5 (4+1) fős csapatok nevezését várjuk.</h3>
        <h4>(3 vagy kevesebb megjelenő tag esetén a csapat automatikusan veszít)</h4>
        <h3>- A mérkőzések 7 percig tartanak.
        </h3>
        <h3>- Döntetlen esetén büntető párbaj dönt az eredményről</h3>
        <h3>Helyszín: D tonaterem<h3>
        <div class="container">
            <h1>Nevezés</h1>
            <h2>Csapattagok</h2>
            <form id="csapattarsak"></form>
            <label class="h2" for="csapapttars1">Csapattag 1</label>
            <input type="text" name="csapattars1" id="csapattars1" required><br>
            <label class="h2" for="csapapttars2">Csapattag 2</label>
            <input type="text" name="csapattars2" id="csapattars2" required><br>
            <label class="h2" for="csapapttars3">Csapattag 3</label>
            <input type="text" name="csapattars3" id="csapattars3"required><br>
            <label class="h2" for="csapapttars4">Csapattag 4</label>
            <input type="text" name="csapattars4" id="csapattars4"><br>
        </div>
    </body>
    <button onclick="submitData()">Regisztrálás</button>

    <!-- Move the script to the end of the body -->
     <script type="text/javascript" src="static\js\sendData.js"></script>
    <script>
        function submitData(){

            const csapattars1 = document.getElementById("csapattars1").value;
            const csapattars2 = document.getElementById("csapattars2").value;
            const csapattars3 = document.getElementById("csapattars3").value;
            const csapattars4 = document.getElementById("csapattars4").value;
            sendData("Labdarúgás", {csapattars1,csapattars2,csapattars3,csapattars4}, "Nincs");
            window.alert("Sikeres Regisztráció")
        }
        
    </script>
