<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szkander</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
    <body>
        <h1>Szkander</h1>
        <h2>Szabályok:</h2>
        <h3>- Egyenes kieséses formátum</h3>
        <h3>Helyszín: Nagyterem</h3>
    </body>
    <button onclick="submitData()">Regisztrálás</button>
     <script type="text/javascript" src="static\js\sendData.js"></script>
    <script>
        function submitData(){
            sendData("Szkander", {}, "Nincs");
        }
        
    </script>
    
