<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tollaslabda</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
    <body>
        <h1>Tollaslabda</h1>
        <h2>Szabályok:</h2>
        <h3>- Egyenes kieséses formátum</h3>
        <h4>(Saját ütő használata ERŐSEN ajánlott)</h4>
        <h3>- 21 pontos meccsek</h3>
        <h3>- Döntő formátuma: 21 pont két nyert játszma</h3>
        <h3>Helyszín: Udvar</h3>
    </body>
    <button onclick="submitData()">Regisztrálás</button>
     <script type="text/javascript" src="static\js\sendData.js"></script>
    <script>
        function submitData(){
            sendData("Tollaslabda", {}, "Nincs");
            window.alert("Sikeres Regisztráció")
        }
    </script>
    
