<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static\favicon.ico">
    <title>Sportok</title>
    <link rel="stylesheet" href="static\css\main.css">
</head>
<body>
    <div>
        <a href="/Labdarugas"><button>Labdarúgás</button></a>
        <a href="/Röplabda"><button>Röplabda</button></a>
        <a href="/Streetball"><button>Streetball</button></a>
        <a href="/Floorball"><button>Floorball</button></a>
        <a href="/Sakk(egyéni)"><button>Sakk (egyéni)</button></a>
        <a href="/Sakk(tandem)"><button>Sakk (tandem)</button></a>
        <a href="/Asztalitenisz(egyeni)"><button>Asztalitenisz (egyéni)</button></a>
        <a href="/Asztalitenisz(forgo)"><button>Asztalitenisz (forgó)</button></a>
        <a href="/Tollaslabda"><button>Tollaslabda</button></a>
        <a href="/Erőnlét"> <button>Erőnléti feladatok</button></a>
        <a href="/Kotelhuzas"><button>Kötélhúzás</button></a>
        <a href="/K_O"><button>K.O.</button></a>
        <a href="/Szkander"><button>Szkander</button></a>
        <a href="/RubikKockaKirakas"><button>Rubik kocka kirakó verseny</button></a>
    </div>
    
    <div></div>
</body>

